#e3 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e5 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e7 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e9 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e10 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e11 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e12 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e13 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e14 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e15 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e16 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e17 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e18 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e19 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e20 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e21 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e22 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e23 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e24 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e26 {
    font-size: 14pt;
    font-family: "TimesNewRomanPS-BoldMT";
    font-weight: bold
    }
#e27 {
    font-size: 14pt;
    font-family: "TimesNewRomanPS-BoldMT";
    font-weight: bold
    }
#e28 {
    font-size: 14pt;
    font-family: "TimesNewRomanPS-BoldMT";
    font-weight: bold
    }
#e30 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e31 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e32 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e33 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e34 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e35 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e36 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e37 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e38 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e39 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e40 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e41 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e42 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e44 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e45 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e46 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e47 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e48 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e49 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e50 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e51 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e52 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e54 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e55 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e57 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e59 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e60 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e61 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e63 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e65 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e66 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e68 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e70 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e71 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e73 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e75 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e76 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e78 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e80 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e82 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e83 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e85 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-BoldMT";
    font-weight: bold
    }
#e87 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e89 {
    font-size: 9pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e92 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e93 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e94 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e95 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e96 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e97 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e98 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e99 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e100 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e101 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e102 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e103 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e104 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e105 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e106 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e107 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e108 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e109 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e110 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e111 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e112 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e113 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e114 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e115 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e116 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e117 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e118 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e119 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e120 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e121 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e123 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-BoldMT";
    font-weight: bold
    }
#e125 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e126 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e127 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e128 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e129 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e130 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e131 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e132 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e133 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e134 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e135 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e136 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e137 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e138 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e139 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e140 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e141 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e142 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e143 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e144 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e145 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e146 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e147 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e148 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e149 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e150 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e151 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e152 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e153 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e154 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e155 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e156 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e157 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e158 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e159 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e160 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e161 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e162 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e163 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e164 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e165 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e166 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e167 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-BoldMT";
    font-weight: bold
    }
#e168 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e169 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-BoldMT";
    font-weight: bold
    }
#e170 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e171 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e172 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e173 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e174 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e175 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e176 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e178 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e179 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e180 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e181 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e182 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e183 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e184 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e185 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e186 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e187 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e188 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e189 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e190 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e191 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e192 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e193 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e195 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e196 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e197 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e198 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e199 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e200 {
    font-size: 9pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e203 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e204 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e205 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e206 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e207 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e208 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e209 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e210 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e211 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e212 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e213 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e214 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e215 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e216 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e217 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e218 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e219 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e220 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e221 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e222 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e223 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e224 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e225 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e226 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e227 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e228 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e229 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e230 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e231 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e232 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e233 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e234 {
    font-size: 10pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e235 {
    font-size: 7pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e236 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e237 {
    font-size: 10pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e238 {
    font-size: 7pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e239 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e240 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e241 {
    font-size: 10pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e242 {
    font-size: 7pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e243 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e244 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e245 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e246 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e247 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e248 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e249 {
    font-size: 10pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e250 {
    font-size: 7pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e251 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e252 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e253 {
    font-size: 10pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e254 {
    font-size: 7pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e255 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e256 {
    font-size: 10pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e257 {
    font-size: 7pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e258 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e259 {
    font-size: 10pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e260 {
    font-size: 7pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e261 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e262 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e263 {
    font-size: 10pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e264 {
    font-size: 7pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e265 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e266 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e267 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e268 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e269 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e270 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e271 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e272 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e273 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e274 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e275 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e276 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e277 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e278 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e279 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e280 {
    font-size: 10pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e281 {
    font-size: 7pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e282 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e283 {
    font-size: 10pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e284 {
    font-size: 7pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e285 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e286 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e287 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e288 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e289 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e290 {
    font-size: 10pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e291 {
    font-size: 7pt;
    font-family: "CambriaMath";
    font-weight: normal
    }
#e292 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e293 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e294 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e295 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e296 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e297 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e298 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-ItalicMT";
    font-weight: normal
    }
#e299 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e300 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e302 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e303 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e304 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e305 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e306 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e307 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e308 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e309 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e310 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e311 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e312 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e313 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e314 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e315 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e316 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e317 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e318 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e319 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e320 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e321 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e322 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e323 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e324 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e325 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e326 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e327 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e328 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e329 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e330 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e331 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e333 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e334 {
    font-size: 9pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e337 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e338 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e339 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e340 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e341 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e342 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e343 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e344 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e345 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e346 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e347 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e348 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e349 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e350 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e351 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e352 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e353 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e354 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e355 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e356 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e357 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e358 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e359 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e360 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e361 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e362 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e363 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e364 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e365 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e366 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e367 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e368 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e369 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e370 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e371 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e372 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e374 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e375 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e376 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e377 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e378 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e379 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e380 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e381 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e382 {
    font-size: 10pt;
    font-family: "TimesNewRomanPS-BoldMT";
    font-weight: bold
    }
#e383 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e384 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e385 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e386 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e387 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e388 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e389 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e390 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e391 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e392 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e393 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e394 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e395 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e396 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e397 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e398 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e399 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e400 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e401 {
    font-size: 11pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e402 {
    font-size: 11pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e403 {
    font-size: 7pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e404 {
    font-size: 11pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e405 {
    font-size: 11pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e406 {
    font-size: 11pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e407 {
    font-size: 7pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e408 {
    font-size: 11pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e410 {
    font-size: 11pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e411 {
    font-size: 9pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e414 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e415 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e416 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e417 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e418 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e419 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e420 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e421 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e422 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e423 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e424 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e425 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e426 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e427 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e428 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e429 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e430 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e431 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e432 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e433 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e434 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e435 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e436 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e437 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e438 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e439 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e440 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e441 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e442 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e443 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e444 {
    font-size: 11pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e445 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e446 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e447 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e448 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e449 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e450 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e451 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e452 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e453 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e454 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e455 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e456 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e457 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e458 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e459 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e460 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e461 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e462 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e463 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e464 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e465 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e466 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e467 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e468 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e469 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e470 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e471 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e472 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e473 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e474 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e475 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e476 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e477 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e478 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e479 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e480 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e481 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e482 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e483 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e484 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e485 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e486 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e487 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e488 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e489 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e490 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e491 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e492 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e493 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e494 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e495 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e496 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e497 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e498 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e499 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e500 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e501 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e502 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e503 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e504 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e505 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e506 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e507 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e508 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e509 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e510 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e511 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e512 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e513 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e514 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e515 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e516 {
    font-size: 6pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e517 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e518 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e519 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e521 {
    font-size: 10pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
#e522 {
    font-size: 9pt;
    font-family: "TimesNewRomanPSMT";
    font-weight: normal
    }
